<div class="page-header">
  <h1>Course <%= @course.department %> <%= @course.number %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Department</dt>
  <dd><%= @course.department %></dd>

  <dt>Number</dt>
  <dd><%= @course.number %></dd>

  <dt>Title</dt>
  <dd><%= @course.title %></dd>

</dl>

<p><strong>List of meetings for course <%= @course.department %> <%= @course.number %>:</strong></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Held on</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

       
  
<td><% @meeting.each do |meeting| %> </td> 
<tr>
        <td><%= meeting.held_on %></td>
        </tr>
    <% end %>

</table>